/*** VARIABLES ***/
:root {
    /*Colores*/
    --textoOscuro: hsl(238, 29%, 16%);
    --textoRojo: hsl(14, 88%, 65%);
    --textoNeutralOscuro: hsl(237, 12%, 33%);
    --textoNeutralAzul: hsl(240, 6%, 50%);

    --fondoVioleta: hsl(273, 75%, 66%);
    --fondoAzul: hsl(240, 73%, 65%);

    --divisores: hsl(240, 5%, 91%);
    
    /*Fuentes*/
    --fuentePrincipal: 'Kumbh Sans', sans-serif;
    --fuenteTamaño: 1.2rem;
    --fuenteGrosorNormal: 400;
    --fuenteGrosorAncho: 700;

}

/*Designed mobile first*/

/*** GLOBALES  ***/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: var(--fuenteTamaño);
    background: linear-gradient(to bottom, var(--fondoVioleta) 0%, var(--fondoAzul) 100%);
    height: 100vh;
}

.contenedor{
    max-width: 120rem;
    width: 95%; /*para cuando sea menor de 120rem(1200px)*/
    margin: 0 auto;
}

a{
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, h2, h3 { margin: 0;}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

/*** UTILIDADES ***/
.centrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*** IMAGEN PRINCIPAL ***/
@media (max-width: 720px) {
    .imagen-principal-desktop {
        display: none;
    }
}

@media (min-width: 721px) {
    .imagen-principal-mobile {
        display: none;
    }
}

.imagen-principal {
    padding-bottom: 4rem;;
    margin-bottom: -11rem;
    padding-top: 5rem;
}

/*** FAQ TEXTO ***/
.todo-el-texto {
    background-color: white;
    padding: 15rem 2rem 2rem 2rem;
    border-radius: 15px;
    margin-top: -12rem;
}


.todo-el-texto h1{
    text-transform: uppercase;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.colocar-flecha {
    display: flex;
    justify-content: space-between;
}

hr {
    color: var(--textoNeutralAzul);
    margin: 2rem 0;
}

.active {
    display: 'block';
}

.ocultar {
    display: none;
}