:root {
    --text-blue: hsl(238, 29%, 16%);
    --text-dkblue: hsl(240, 6%, 50%);
    --text-xdkblue: hsl(237, 12%, 33%);
    --text-red: hsl(14, 88%, 65%);
    --gradient-violet: hsl(273, 75%, 66%);
    --gradient-blue: hsl(240, 73%, 65%);
    --divider-blue: hsl(240, 5%, 91%);
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;

}

body {
    min-height: 100vh; /*altura minima: todo el espacio disponible en la pantalla*/
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(var(--gradient-violet), var(--gradient-blue));
    padding: 10rem 1rem;
    color: var(--text-blue);
}

h1,h2,h3 {
    margin-top: 0;
}

.card {
    background-color: #fff;
    border-radius: 2rem;
    max-width: 56rem;
    padding: 2.875rem 1.5rem;
    background-image: url(/images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: center 0%;
    background-size: 15rem;
}

.card__box {
    display: none; /* en versión móvil no queremos que se vea */
}

.card__text {
    padding-top: 7rem;
}

.card__image img{
    position: absolute;
    top: 3.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    max-width: 15rem; /*-> 400px / 16px = 25rem <-*/
    margin: auto;
    display: block;
}

.accordion__item {
    padding-top: 1rem;
    border-bottom: 1px solid var(--divider-blue);
   
}

.accordion__item h2 {
    margin-bottom: 0.65rem;
}

.accordion__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    background: transparent; 
    padding: 0.2rem;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    font-family: 'Kumbh Sans', sans-serif; /* he tenido que volver a ponerlo aquí para que funcione */
    text-align: left;

}



.accordion__question::after {
    display: block;
    width: 0.625rem;
    height: 1rem;
    border: none;
    content: '';
    background-image: url(/images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: transform 300ms ease-in-out; /* efecto de movimiento que finaliza en el transform declarado en .accordion__collapse.open::after */
}

.accordion__question:focus ,
.accordion__question:focus-visible{
    border: none;
    outline: dashed 1px rgba(0, 0, 0, 0.25);
}

.accordion__question.open {
    font-weight: 700;
}

.accordion__collapse.open::after{
    transform: rotate(180deg);
}

.accordion__content {
    font-size: 0.75rem;
    line-height: 1.4;
    margin-bottom: 1rem;
}

.accordion__collapse.collapse {
    display: none;
}

.accordion__collapse.collapsing {
    height: 0;
	overflow: hidden;
}

.accordion__collapse {
    transition: height 300ms ease;
}

.accordion__collapse.open {
    display: block;
}

/*DESKTOP*/
@media (min-width: 56em) { /* 16px = 1rem/em -> 900px/16px = 56em*/

    body {
        padding: 5rem;
    }

    .card {
        position: relative; /* este es el padre de card__box, por eso hay que ponerle esto */
        display: flex;
        margin: 6rem auto;
        padding: 4.375rem 6.25rem 4.375rem 0;
        background-image: url(/images/bg-pattern-desktop.svg); /* esta la añadimos desde css porque es como el fondo de la imagen principal */
        background-size: 45%; /* ajustamos el tamaño */ 
        background-position: -13% center; /* movemos la imagen de fondo para que quede como tiene que quedar */ 
    }

    .card__box {
        display: block;
        position: absolute;
        z-index: 1;
        top: 57%;
        left: 0;
        transform: translateX(-50%) translateY(-50%);
    }

    .card__image {
        position: relative;
    }

    .card__image, .card__text {
        flex: 1;
    }

    .card__image {
        display: flex;
        align-items: center;
        overflow: hidden; /* ocultamos la parte que sobresale al mover la imagen */
    }

    .card__image img {

        position: relative;
        top: auto;
        left: auto;
        transform: translateX(-4rem); /* movemos la imagen hacia la izda para que quede como en el diseño */
        max-width: 25rem; /*-> 400px / 16px = 25rem <-*/
    }

    .card__image--mobile {
        display: none;
    }

    .card__text {
        padding-top: 0; /* reestablecemos el padding-top a 0 para desktop */
    }
}